
/* HEADER MAIN */
.header{
    background: url('../assets/images/header_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(204, 227, 222, .85);
}


.header h1{
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    color: var(--green-color);
    width: 50%;
    font-size: 60px;
    z-index: 3;
}

.btns__container{
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 3;
}

.btn__header{
    padding: 20px 40px;
    border-radius: 10px;
    margin: 50px;
    background-color: var(--white-color);
    border: 3px solid var(--green-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--green-color);
    cursor: pointer;
    transition: var(--transition-time);
    font-weight: bold;
}

.btn__header:hover,
.btn__header:active{
    background-color: var(--green-color);
    color: var(--white-color);
    box-shadow: 2px 2px 3px 1px #000;

}

/* NAVIGATION TABLET */

/* @media only screen and (min-width:421px) and (max-width:768px){
    body{
        background-color: red;
    }
} */

/* Navigation mobile */

/* @media only screen and (max-width:420px){
    .main-nav{
        height: 100%;
        flex-direction: column;
        background-color: red;
    }
} */
