/* GENERAL SETTING */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --green-color: #6B9080;
    --green-color-2: #A4C3B2;
    --green-white: #CCE3DE;
    --white-color: #EAF4F4;
    --white-color-2: #F6FFF8;
    --transition-time: 0.2s;
}



body{
    background-color: var(--white-color);
}

/* DESKTOP SETTING */

@media only screen and (min-width:769px) {

/* NAVIGATION */
.main-nav{
    position: absolute;
    top: 10px;
    left: 1%;
    width: 98%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--green-white);
    height: 60px;
    align-items: center;
}

.logo__container{
    height: 90%;
    margin: 0 15px;
}

.logo__container img{
    height: 100%;
}

.nav__elements{
    list-style: none;
    display: flex;
}

.nav__element{
    /* padding: 10px; */
    margin: 0 20px;
}

.nav__element a{
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--green-color);
    transition: var(--transition-time);
}

.nav__element a:hover,
.nav__element a:active
{
    color: #5a7a6c;
    border-bottom:1px solid #5a7a6c;
}

/* HEADER MAIN */

.header h1{
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

}

/* NAVIGATION TABLET */

/* @media only screen and (min-width:421px) and (max-width:768px){
    body{
        background-color: red;
    }
} */

/* Navigation mobile */

/* @media only screen and (max-width:420px){
    .main-nav{
        height: 100%;
        flex-direction: column;
        background-color: red;
    }
} */
